{% extends 'base.html' %}
{% block title %}Achievements{% endblock title %}
{% block achievementsactive %}active{% endblock achievementsactive %}
{% block body %}
<style>
    .caption{
        border: 1px solid;
    }
</style>

<div class="container-fluid px-0">
<img src="https://static.wixstatic.com/media/0c2d11194b8042ca9f11f7f681339102.jpg/v1/fill/w_1349,h_430,al_t,q_85,usm_0.66_1.00_0.01/0c2d11194b8042ca9f11f7f681339102.webp" alt="Back to School Objects" class="img-fluid">

<div class="caption text-center display-2 my-3"><p>Achievements</p></div>
</div>


{% endblock body%}