{% extends 'base.html' %}
{% block title %}Team{% endblock title %}
{% block projectactive %}active{% endblock projectactive %}
{% block body %}
<style>
    .caption{
        border: 1px solid;
    }
</style>

<div class="container-fluid px-0">
<img src="https://static.wixstatic.com/media/11062b_a6e1bb8d93704b859a65ba5d3dd3645a~mv2.jpg/v1/fill/w_1349,h_430,al_c,q_85,usm_0.66_1.00_0.01/11062b_a6e1bb8d93704b859a65ba5d3dd3645a~mv2.webp" alt="Back to School Objects" class="img-fluid">

<div class="caption text-center display-2 my-3"><p>PROJECTS</p></div>
</div>


{% endblock body%}