{% extends 'base.html' %}
{% block title %}Team{% endblock title %}
{% block teamactive %}active{% endblock teamactive %}
{% block body %}

<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="fw-light text-white">Meet the Team</h1>
    </div>
</header>

<!-- Page Content -->
<div class="container shadow">
    <div class="row justify-content-md-center gx-4 text-center">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/static/img/tm1.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Parveen Abrol</h5>
                    <div class="card-text text-black-50">Faculty Advisor</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/static/img/tm2.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Zuhaib Fayaz</h5>
                    <div class="card-text text-black-50">President</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/static/img/tm3.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Dhvani Gupta</h5>
                    <div class="card-text text-black-50">Vice - President</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/static/img/tm4.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Ankush Randhawa</h5>
                    <div class="card-text text-black-50">Secretary</div>
                </div>
            </div>
        </div>
        <!-- Team Member 5 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="/static/img/tm5.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Mehvish Farooq</h5>
                    <div class="card-text text-black-50">Treasurer </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock body%}